body {
    font-family: sans-serif;
    background-color: #fff;
    color: #333;
    margin: 0;
    padding: 0;
    height:100%;
    width: 100%;
}

#app {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f8f8;
    box-sizing: border-box; 
}
h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}
.notes-list {
    list-style: none;
    padding: 0;
}

.note {
    
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.note-text {
    flex-grow: 1;
}

.note-checkbox {
    cursor: pointer;
}

.note-checkbox:checked + .note-text {
    text-decoration: line-through;
}

.add-note-form {
    margin-top: 20px;
}


.add-note-form input,
.add-note-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    box-sizing: border-box; 
}

.add-note-form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    
}

@media (max-width: 432px) {
    #app {
        padding: 10px;
    }

    h1 {
        font-size: 20px;
        margin-bottom: 15px;
    }

    .note {
        flex-direction: column;
        padding: 10px;
    }

    .note-text {
        margin-top: 10px;
    }

    .note-checkbox {
        margin-bottom: 10px;
    }

    .add-note-form input,
    .add-note-form textarea {
        padding: 6px;
    }

    .add-note-form button {
        padding: 8px 16px;
    }
}

